.footer-block {
  &__title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 1rem;
    line-height: normal;
    font-family: var(--font-inter), sans-serif;
  }

  p {
    font-size: 15px;
    font-weight: 200;
    line-height: 1.5;
  }

  &__contact {
    font-size: 15px;
    font-weight: 200;
    line-height: 1.5;

    a {
      color: rgba(255, 255, 255, 0.8);
      transition: color 200ms ease;

      &:hover {
        color: var(--primary-foreground);
      }
    }
  }
}

.footer-menu {
  li {
    display: block;
    padding: 0;
    margin-top: 8px;

    > a {
      color: rgba(255, 255, 255, 0.8);
      transition: color 200ms ease;

      &:hover {
        color: var(--primary-foreground);
      }
    }
  }
}

.footer-description {
  font-size: 15px;
  font-weight: 200;
  line-height: 1.5;
}


.copyright {
  font-size: 15px;
  font-weight: 200;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
}
