/* Mobile Menu Styles */

.primary-mobile-menu {
  list-style: none;
  margin: 0;
  padding: 0;

  li.menu-item {
    display: block;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid rgba(21, 34, 42, 0.1);

    &:last-child {
      border-bottom: none;
    }

    a {
      display: block;
      padding: 16px 0;
      color: var(--primary);
      font-size: 16px;
      font-weight: 300;
      text-transform: uppercase;
    }

    &.menu-item-has-children {
      > a {
        position: relative;

        &:after {
          content: '';
          display: block;
          width: 8px;
          height: 8px;
          border-right: 1px solid var(--primary);
          border-bottom: 1px solid var(--primary);
          position: absolute;
          right: 15px;
          top: 50%;
          margin-top: -2px;
          transform: translateY(-50%) rotate(45deg);
          transition: all .2s ease;
        }
      }

      ul.sub-menu {
        display: none;
        padding: 0;
        margin: 0;
        // background: rgb(229, 229, 229, 0.1);

        li.menu-item {
          a {
            font-size: 14px;
            padding: 12px 20px;

            &:hover {
              // background: rgba(229, 229, 229, 0.3);
            }
          }
        }
      }
    }

    &.menu-item-has-children.show {

      a:after {
        transform: translateY(-50%) rotate(-135deg);
      }

      ul.sub-menu {
        display: block;
      }
    }
  }

  &__offcanvas {
    @apply invisible fixed bottom-0 left-0 top-0 z-[1045] flex;
    @apply w-96 max-w-full -translate-x-full flex-col border-none;
    @apply bg-white bg-clip-padding text-neutral-700 shadow-sm outline-none;
    @apply transition duration-300 ease-in-out data-[twe-offcanvas-show]:transform-none;
  }
}

.offcanvas-close {
  @apply box-content rounded-none border-none text-neutral-500;
  @apply hover:text-neutral-800 hover:no-underline;
  @apply focus:text-neutral-800 focus:opacity-100 focus:shadow-none focus:outline-none;
  @apply dark:text-neutral-400 dark:hover:text-neutral-300 dark:focus:text-neutral-300;
}
