/* Breadcrumbs Styles */
.breadcrumbs {
  font-family: var(--font-belleza), sans-serif;
  font-size: 15px;
  text-transform: uppercase;

  a {
    color: #696969;
    transition: all 150ms ease-in-out 0ms;

    &:hover {
      color: #000;
    }
  }

  &__wrap {
    @apply pt-4 pb-2;
  }

  &__separator {
    margin: 0 6px;
  }

}
