@use "page-hero/style";

section.wp-block-group {
  padding: 80px 0;
}

.wp-block-group:not(.alignfull) {
  .wp-block-group__inner-container {
    @apply container;
  }
}

.wp-block-cover {
  .wp-block-post-title {
    font-family: var(--heading--font-family), sans-serif;
    font-size: var(--heading--1--font-size);
    font-weight: var(--heading--font-weight);
    font-style: var(--heading--font-style);
    text-transform: var(--heading--uppercase);
    line-height: var(--heading--line-height);
    margin-bottom: var(--heading--mb);
  }
}
