@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

@use "global";
@use "blocks/page-hero/editor";
@use "blocks/categories-list-editor";


html :where(.wp-block) {
  max-width: 1140px;
}


body {
  font-family: var(--font-system), sans-serif;
}


