@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "global";
@import "blocks/heading/editor";
@import "blocks/page-hero/editor";
@import "blocks/categories-list/editor";
@import "blocks/media-and-text/editor";
@import "blocks/categories-slider/editor";


html :where(.wp-block) {
  max-width: 1140px;
}

body {
  margin: 9px 10px;
}

.editor-styles-wrapper {
  margin: 0;
}

.wp-block {
  &:has(.block-media-text),
  &:has(.block-categories-slider) {
    margin-top: 0;
    margin-bottom: 0;

    &:first-child {
      margin-top: 28px;
    }

    &:last-child {
      margin-bottom: 28px;
    }
  }
}
