@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "global";
@import "blocks/page-hero/editor";
@import "blocks/categories-list-editor";
@import "blocks/media-and-text/editor";


html :where(.wp-block) {
  max-width: 1140px;
}

body {
  margin: 9px 10px;
}

.editor-styles-wrapper {
  margin: 0;
}

.heading {
  font-family: var(--heading-font-family), sans-serif;
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  text-transform: var(--heading-uppercase);
  line-height: var(--heading-line-height);
  margin-bottom: var(--heading-mb);
}

h2.heading {
  font-size: var(--heading-2-font-size);
}
