@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

/* Components */
@use "variables";
@use "global";
@use "components/header";
@use "components/footer";
@use "components/navigation";

/* Blocks */
@use "blocks/style";

/* Elements */
@use "elements/buttons";
@use "elements/breadcrumbs";

.heading {
  font-family: var(--heading--font-family), sans-serif;
  font-size: var(--heading--font-size);
  font-weight: var(--heading--font-weight);
  font-style: var(--heading--font-style);
  text-transform: var(--heading--uppercase);
  line-height: var(--heading--line-height);
  margin-bottom: var(--heading--mb);

  &-2 {
    font-size: var(--heading--2--font-size);
  }

  &-3 {
    font-size: var(--heading--3--font-size);
  }
}

.block-text-editor {
  font-family: var(--font-inter), sans-serif;
  font-weight: 200;
  font-size: 18px;
}

.block-brand-partners {

  .heading {
    --heading--mb: 1.5rem; /* 24/16 */
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 136px;
    width: 100%;
  }
}
